#header h1 {
  text-align: center;
  background-color: lightgrey;
  padding-top: 50px;
  padding-bottom: 50px;
}

#sidebar-col h3 {
text-align: center;
float: left;

}

#game-col h3 {
  text-align: center;

}
